apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: base
  namespace: flux-system
spec:
  interval: 5m
  path: ./base
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  resources:
    - namespaces.yaml
